
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="navbar" id="navbarSupportedContent">
        <a class="nav-link" href="/"><div class="logo mr-4"><img src="../images/logo.png" alt="logo"/>MVR</div></a>
            {{#if currentUser}}
            {{else}}
                <div class="right-align">
                    <li class="nav-link">
                        <a href="/signup">Signup</a>
                    </li>
                    <li class="nav-link">
                        <a href="/">Back Home</a>
                    </li>
                </div>
            {{/if}}
        </div>
    </div>
</nav>

<form id="form" action="/login" method="POST">
  <h2>Login</h2>
  <label>Username</label>
  <input type="text" name="username" placeholder="Your username" >
  <label>Password</label>
  <input type="password" name="password" placeholder="******" >

  {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  <button type="submit">Login in</button>
  <div class="form-group">
    <a class="btn btn-lg btn-google btn-block btn-outline" href="/auth/google">
      <img src="https://img.icons8.com/color/16/000000/google-logo.png"></i> Login with Google
    </a>
  </div>
  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>