<form id="form" action="/signup" method="POST">
  <h2>Signup</h2>
  <label>First Name</label>
  <input type="text" name="firstName" placeholder="Your first name" >
  <label>Last Name</label>
  <input type="text" name="lastName" placeholder="Your last name" >
  <label>Username</label>
  <input type="text" name="username" placeholder="Your username" >
  <label>E-mail</label>
  <input type="text" name="email" placeholder="Your e-mail" >
  <label>Password</label>
  <input id="pass" type="password" name="password" placeholder="******" >
  {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  <button type="submit">Signup</button>
  <p class="account-message">
    Do you have an account? <a href="/login">Login</a>
  </p>
</form>