<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

	{{!-- {{#if currentUser}}
<p>Welcome {{currentUser.username}}</p>
	{{/if}} --}}
{{!-- go to create view just for testing purposes --}}
<a href="/create-top">Go to create view!</a>
<a href="/login">Go to login view!</a>
<a href="/signup">Go to signup view!</a>

		{{!-- {{#if currentUser}}
	<a href="/logout">Logout</a>
	{{/if}} --}}
