@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");
$dark-grey: #222;
$light-grey: #666;

* {
	margin: 0;
	padding: 0;
}
body {
  padding: 3rem;
  color: $dark-grey;
  font-family: 'Ubuntu', sans-serif;
}

a {
	color: $dark-grey;
}

.proj-name {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 600;
}

.wrap.text-center {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.light {
	font-weight: 300;
}
.my-profile {
	text-align: center;
}
.card {
	img {
		width: 30px;
		margin: 10px 0;
	}
	&.artist-card {
		img{
			width: 100%;
			margin: 0;
			object-fit: cover;
			height: 250px;
		}
		.bg-color {
			background: #222;
			width: 100%;
			display: block;
			height: 250px;
		}
	}
}
.navbar{
	justify-content: space-evenly;
	width: 100%;
}

.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd
}

.title-light {
	font-weight: 300;
}
.centered-content {
  margin: auto;
  text-align: center;
}

.avatar {
	vertical-align: middle;
	width: 10rem;
	height: 10rem;
	border-radius: 10rem;
}

.avatar-nav-bar {
	vertical-align: middle;
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
}

.right-align {
	display: inherit;
	float: right;
}

li {
    list-style-type: none;
}

.sticky {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
    background: #fafafa;
    top: auto;
    left: 0;
    display: flex;
    align-items: stretch;
	justify-content: stretch;
	button {
		width:100%;
		border-radius: 0;
	}
}

// Form

#form {
	margin: 30px auto;
	width: 380px;

	h2 {
		text-align: center;
	}
	label {
		color: $light-grey;
		display: inline-block;
		margin-bottom: 10px;
		text-align: center;
		width: 100%;
	}

	input,
	button {
		box-sizing: border-box;
		font-size: 14px;
		outline: 0;
		padding: 4px;
		width: 100%;
		margin-bottom: 20px;
	}

	h2 {
		text-align: center;
	}

	label {
		color: $light-grey;
		display: inline-block;
		margin-bottom: 10px;
		text-align: center;
		width: 100%;
	}

	input,
	button {
		box-sizing: border-box;
		font-size: 14px;
		outline: 0;
		padding: 4px;
		width: 100%;
		margin-bottom: 20px;
	}

	button {
		background: #43a3e6;
		border: 1px solid #43a3e6;
		border-radius: 4px;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		padding: 8px 16px;
		text-decoration: none;
		text-transform: uppercase;
		transition: 0.3s ease background;
		width: 100%;
	}

	button:hover {
		background: #fff;
		color: #43a3e6;
		transition: 0.3s ease background;
	}
}

// Form strength and validation

.error-message {
	background: #f02b63;
	box-sizing: border-box;
	color: #fff;
	margin: 20px auto;
	padding: 20px;
	width: 100%;
}

.button_strength {
	text-decoration: none;
	color: #ccc;
	font-size: 13px;
	padding: 10px;
}
.strength_meter div {
	width: 0%;
	height: 43px;
	text-align: right;
	color: #000;
	line-height: 43px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding-right: 12px;
	border-radius: 5px;
	white-space: nowrap;
}

.strength_meter div p {
	position: absolute;
	top: 22px;
	right: 0px;
	color: #fff;
	font-size: 13px;
}

.veryweak {
	background-color: #ffa0a0;
	border-color: #f04040 !important;
	width: 25% !important;
}

.weak {
	background-color: #ffb78c;
	border-color: #ff853c !important;
	width: 50% !important;
}

.medium {
	background-color: #ffec8b;
	border-color: #fc0 !important;
	width: 75% !important;
}

.strong {
	background-color: #c3ff88;
	border-color: #8dff1c !important;
	width: 100% !important;
}
