<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="navbar" id="navbarSupportedContent">
        <a class="nav-link" href="/"><div class="logo mr-4"><img src="../images/logo.png" alt="logo"/>MVR</div></a>
            
            <div class="right-align">
                <li class="nav-link">
                    <a href="/">Back to Home Page</a>
                </li>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        <img src="{{theUser.imgPath}}" width="40" height="40" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/profile">My Profile</a>
                            <a class="dropdown-item" href="/profile/edit?user_id={{currentUser._id}}">Edit Profile</a>
                            <a class="dropdown-item" href="/logout">Log Out</a>
                    </div>
                </div>
        </div>
    </div>
</nav>

{{!-- Search for your artist/band --}}
<h2 class="display-4 text-center mt-5">1. Search for your artist/band</h2>
<hr>
<section class="centered-content">
    {{!-- <img src="images/spotify-background.jpeg" width="200" alt=""> --}}
    <form action="/artist-search-action" method="GET">
        <label for="artistname"></label>
        <div class="input-group input-group-lg mb-3">
            <div class="input-group-prepend">
                <a href="/" class="btn btn-terciary input-group-text" id="basic-addon1">Back</a>
            </div>
            <input type="text" id="artname" name="artistname" class="form-control" placeholder="Search for your artist/band here..." aria-label="Search for your artist/band here..." aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary mr-3 input-group-text" id="basic-addon2">Submit</button>
            </div>
        </div>
    </form> 
</section>
