{{!-- Search for your artist/band --}}
<h2 class="mt-4"><small class="text-muted">Search for your artist/band:</small></h2>
<hr>

{{!-- <img src="images/spotify-background.jpeg" width="200" alt=""> --}}
<div>
    <form action="/artist-search-action">
        <label for="artistname"></label><br>
        <input type="text" id="artname" name="artistname" placeholder="Radiohead">
        <input type="submit" value="Submit">
    </form> 
</div>

  
{{!-- Return to homepage --}}
<br/><br/><br/>
<button type="button" class="btn btn-light"><a href="/">Back to Main Page</a></button>
