{{!-- Search for your artist/band --}}
<h2 class="mt-4"><small class="text-muted">Search for your artist/band:</small></h2>
<hr>
<form action="/create-top" method="GET">
    <label for="">Search for artist:</label>
    <input type="text" class="form-control" placeholder="Search here..." name="artistName">
    <button type="submit">Search</button>
</form>
  
{{!-- Return to homepage --}}
<br/><br/><br/>
<a href="/" class="return">Voltar à Home</a>


{{!-- Present Results here from API --}}
<section class="result-wrap">
    {{!-- {{#each result}} --}}
        <div class="artist-card card" style="width: 18rem;">
            <h5 class="card-title">{{name}}</h5>
        </div>
    {{!-- {{/each}} --}}
</section>

{{!-- Post choices of songs to database with this POST form --}}
<form action="/playlist/add" method="POST">
    {{!-- {{#each result}} --}}
        <h5 class="song-title">{{name}}</h5>
    {{!-- {{/each}} --}}
  <button type="submit">ADD</button>
</form>
